services:
  api:
    build:
      context: .
      dockerfile: src/Api/SpendBear.Api/Dockerfile
    ports:
      - "5109:8080"
      - "7036:8443"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres;Database=spendbear;Username=postgres;Password=postgres
      - Auth0__Domain=dev-civhz1e8juvue64u.us.auth0.com
      - Auth0__Audience=https://spendbear-api
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=spendbear
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres_data:
